<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:appstudio="http://schemas.microsoft.com/developer/appx/2015/appstudio" 
  IgnorableNamespaces="uap mp appstudio">
			<Identity Name="56538innovega.MicrosoftHel10World" Publisher="CN=95473210-6DF6-4C41-9C3C-3C769879BD0F" Version="1.0.1.0" />
	    <mp:PhoneIdentity PhoneProductId="9dcfe777-b057-4e64-8440-cca810901659" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    <Properties>
        <DisplayName>Microsoft Hel10 World</DisplayName>
        <PublisherDisplayName>innovega</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10240.0" MaxVersionTested="10.0.10240.0" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate"/>
    </Resources>
    <Applications>
        <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MicrosoftHel10World.App">
            <uap:VisualElements 
			  DisplayName="Microsoft Hel10 World"
              Square150x150Logo="Assets\Square150x150Logo.png"
              Square44x44Logo="Assets\Square44x44Logo.png"
              Description="Información sobre el evento Hel10 World de Microsoft el día 22 de Octubre en Madrid."
              BackgroundColor="#0b79d2">
                <uap:SplashScreen Image="Assets\SplashScreen.png" />
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png">
                    <uap:TileUpdate Recurrence="halfHour" UriTemplate="http://ds-pre.winappstudio.net/api/tile10?config=VQIAAB~LCAAAAAAABACNkUFPg0AQhf9KM~clgRaM5aZto01aNW2THoyHEQbcuOySZaklDf/dAWrjQY3hMm935n1vhxPMq11TEsSB4HJmdCZziE8wR4cb87GSlVvOIYbpeExTTCIvmmLmhX4aeNdXQepFqY/ROMRJFgYgYGaUosRJo8~urYAdFaVCR53tTip6wIJrWBSla3jk1qJOpc6HCLLi3ubcspaJNZXJ3OieVOCP9saqlEfurKnLCuLnE2zr129qTzJ/c~zk~x336LYOk/fenA8WigrSbmjtbrtE/GTHh0zroQL2FkuIM1QVCU6gV1ITj~haKdZ4POtIdGyn6NK7dU2nJgJulMx10bv6vIBlgTkNDq34iTynKrGy7NZ2CeBs/Sc//I3v/48/~J2veI824SCDFLChwhxojTaX~ivKzJqyd388kOV/1NdPChMaSOO2fem/9hOuxeFOVQIAAA=="/>
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo" />
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
            </uap:VisualElements>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />
    </Capabilities>
    <appstudio:Metadata>
        <appstudio:Item Name="appId" Value="9dcfe777-b057-4e64-8440-cca810901659" />
        <appstudio:Item Name="model" Version="1.12" />
        <appstudio:Item Name="formula" Value="Win10" Version="1.11.1014.3" />
        <appstudio:Item DataSource="Collection" Version="1.0.2-beta1"/>
        <appstudio:Item DataSource="Rss" Version="1.0.2-beta1"/>
        <appstudio:Item DataSource="Twitter" Version="1.0.2-beta1"/>
        <appstudio:Item DataSource="Html" Version="1.0.2-beta1"/>
        <appstudio:Item DataSource="Menu" Version="1.0.2-beta1"/>
    </appstudio:Metadata>
</Package>
